# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

#Directories
Intermediate
Binaries/Win64/UE4Editor-MyoPlugin.dll
Binaries/Win64/UE4Editor.modules
Plugins/MyoPlugin/Binaries/Win64/UE4Editor.modules